<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinisielektra.apps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pinisielektra.apps.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pinisielektra.apps.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.pinisielektra.apps.FilteringActivity"
            android:label="@string/title_activity_filtering"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.pinisielektra.apps.PieChartActivity"
            android:label="@string/title_activity_pie_chart"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.pinisielektra.apps.ReportActivity"
            android:label="@string/title_activity_report"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.pinisielektra.apps.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.pinisielektra.apps.DashboardActivitySecondDepth"
            android:label="@string/title_activity_dashboard_activity_second_depth"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.pinisielektra.apps.InputActivity"
            android:label="@string/title_activity_input"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.pinisielektra.apps.EditInputActivity"
            android:label="@string/title_activity_input"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="com.pinisielektra.apps.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
    </application>

</manifest>
